*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}

header{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgray;
}



nav ul{
    background-color: darkgray;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
        
}

nav ul li{
    background-color: darkgray;
    height: 50%;
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

nav ul li:hover{
    background-color: rgb(77, 75, 75);
}

nav ul li a{
    text-decoration: none;
    color: black;
    height: 100%;
}

nav ul li a:hover{
    color: whitesmoke;
    

}

footer{
    position:fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}


footer{
    
    background-color: whitesmoke;

}

footer section{

    display: flex;
    justify-content: space-evenly;
}

footer section form{
    display: flex;
    display: block;

}

footer form input {
    display: block;
    color: black;
    background-color: gray;
}

footer form button{
    color: black;
    background-color: gray;
}

footer form buttor .hover{
    color: whitesmoke;
}


section h2{
    
    text-align: center;

}

footer img{
    width: 50px;
    border-radius: 50px;
    margin: 10px;
    
}
